<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css"/>
</head>

<body>
<header class="header">
    <img src="./images/location.png" class="header__image" alt="an image of a map and location">
    <h1 class="header__title">GeoTagApp</h1>
    <nav class="header__navigation">
        <a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
    </nav>
</header>

<main class="main">
    <div class="row">
        <div class="col-4">
            <section class="main__tagging tagging">

                <!-- ############### VS1Lab 1a Form 1 Start -->
                <form id="tag-form" action="/tagging" method="post">
                    <h2>Tagging</h2>

                    <fieldset class="taggingFs">
                        <legend>Add a new GeoTag</legend>

                        <label for="latitude_id">Latitude: </label>
                        <input name="latitude" type="text" id="latitude_id" placeholder="37.233333" value<% (function(gtag) {gtag.latitude});%> required/>
                        <label for="longitude_id">Longitude: </label>
                        <input name="longitude" type="text" id="longitude_id" placeholder="-115.808333" value<% (function(gtag) {gtag.longitude});%> required/>
                        <label for="name_id">Name: </label>
                        <input name="name" type="text" id="name_id" placeholder="John Doe (max length 10)"
                               maxlength="10" value<% (function(gtag) {gtag.name});%> required/>
                        <label for="hashtag_id">Hashtag: </label>
                        <input name="Hashtag" type="text" id="hashtag_id" placeholder="#Area51" pattern="#.+"
                               maxlength="11" value<% (function(gtag) {gtag.Hashtag});%> required/>
                        <button type="submit">Add Tag</button>
                    </fieldset>
                </form>
                <!-- ############### VS1Lab 1a Form 1 End -->

            </section>
        </div>
        <div class="col-10">
            <section class="main__discovery discovery">
                <h2 class="discovery__title">Discovery</h2>

                <!-- ############### VS1Lab 1a Form 2 Start -->
                <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post">

                    <fieldset class=discoveryFs>
                        <legend>Search</legend>
                        <div class="row">
                            <div class="col-4">
                                <label>Search Term or Keywords: </label>
                                <input name="searchterm" type="text" id="search_id" placeholder="#Area51" value<% (function(gtag) {gtag.searchterm});%>/>
                                <input name="longitude" type="hidden" id="hidden_longitude_id" value<% (function(gtag) {gtag.longitude});%>/>
                                <input name="latitude" type="hidden" id="hidden_latitude_id" value<% (function(gtag) {gtag.latitude});%>/>
                                <button type="submit">Search</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <!-- ############### VS1Lab 1a Form 2 End -->

                <div class="discovery__wrapper">
                    <div class="row">
                        <div class="col-4">
                            <div class="discovery__taglist">
                                <ul class="discovery__results" id="discoveryResults">
                                    <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                                        <li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>
                                            ) <%= gtag.hashtag %> </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>

                        <div class="col-8">
                            <div class="discovery__map">
                                <img src="./images/mapview.jpg" alt="a map with locations" id="mapView"
                                <% if(taglist !== undefined) { %>
                                    data-tags= <%= JSON.stringify(taglist) %>
                                <% } else { %>
                                    data-tags= <%= "" %>
                                <% } %>
                                />
                                <span>Result map</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

<footer class="footer">
    <span>(c) 2021/22 HKA_IWI_VSYS</span>
</footer>

<!-- Load JavaScripts
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./public/javascripts/location-helper.js"></script>
<script src="./public/javascripts/map-manager.js"></script>
<script src="./public/javascripts/geotagging.js"></script>

</body>

</html>
